name: Run tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-tests:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest , opt_req: true }
          - { os: windows-latest, opt_req: false }
          - { os: macos-latest  , opt_req: true }
    steps:
      - name: Cancel non-latest runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch==2.0.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu  # install separately to use cpu only version for tests

      - name: Install package
        run: |
          python -m pip install .[training,dev]
          python -m pip list

      - name: Run tests
        run: |
          pytest

