name: Run tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-tests:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest , opt_req: true }
          - { os: windows-latest, opt_req: false }
          - { os: macos-13      , opt_req: true }
    steps:
      - name: Cancel non-latest runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies (ubuntu, windows)
        if: matrix.os != 'macos-latest'
        run: |
          python -m pip install --upgrade pip 
          python -m pip install wheel setuptools
          python -m pip install torch==1.12.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          python -m pip install --no-build-isolation "git+https://github.com/aqlaboratory/openfold.git@103d037"  # use torch-cpu for build environment
          python -m pip list

      - name: Install dependencies (macos)
        if: matrix.os == 'macos-latest'
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools
          python -m pip install torch==1.12.1
          python -m pip install --no-build-isolation "git+https://github.com/aqlaboratory/openfold.git@103d037"  # use torch-cpu for build environment
          python -m pip list

      - name: Install package
        run: |
          python -m pip install .[training,dev]
          python -m pip list

      - name: Run tests
        run: |
          pytest

